.homePage {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("../images/background.png");
}

.bot {
  height: 100%;
}

.menuBar {
  background-color: black;
  display: flex;
  max-height: 110px;
}

.pokemon_logo {
  max-height: 200px;
  max-width: 200px;
}
